<section id="contact">
	<div class="sectionheader">	<h1>Contact Us</h1></div>
	<div  class="container">
    <div class="right">
	<p>If you have any queries please drop a message in the given form.
        Will contact you as soon as  possible.
    </p>
		
			<label for="checkcontact" class="contactbutton"><div class="mail"></div></label><input id="checkcontact" type="checkbox">
			<form action="" method="post" class="contactform">
				<p class="input_wrapper"><input type="text" name="contact_nom" value=""  id ="contact_nom"><label for="contact_nom">NAME</label></p>
				<p class="input_wrapper"><input type="text" name="contact_email" value=""  id ="contact_email"><label for="contact_email">EMAIL</label></p>
				<p class="input_wrapper"><input type="text" name="contact_sujet" value=""  id ="contact_sujet"><label for="contact_sujet">SUBJECT</label></p>
				<p class="textarea_wrapper"><textarea name="contact_message" id="contact_message"></textarea></p>
				<p class="submit_wrapper"><input type="submit" value="SEND"></p>			
			</form>
        </div>
    <div class="left">
        <ul class="contact-list">
            <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">New Delhi</span></i></li>
            <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a href="tel:1-212-555-5555" title="Give me a call">+91 8750627561</a></span></i></li>
            <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a href="mailto:#" title="Send me an email">parveenshahzadi13@gmail.com</a></span></i></li>
        </ul>
        <hr>
        <ul class="social-media-list">   
          <li><a href="https://github.com/Shahzadi1398" target="_blank" class="contact-icon">
            <i class="fa fa-github" aria-hidden="true"></i></a>
          </li>
        <li><a href="https://www.linkedin.com/in/shahzadi-parveen-049212183/" target="_blank" class="contact-icon">
            <i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </li>
        </ul>
        <!-- <div class="social-media-list">
           <span><a href="https://github.com/Shahzadi1398" target="_blank" class="contact-icon">
            <i class="fa fa-github" aria-hidden="true"></i></a></span> 
    
                <span><a href="#" target="_blank" class="contact-icon">
                    <i class="fa fa-linkedin" aria-hidden="true"></i></a>
</span>
        </div> -->

        <hr>
    </div>
    </div>
</section>