.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width:0 ;
    height: 3px;
    background:  #f9b205;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 12px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

.tab-contents ul li span{
   color: #f9b205;
   font-size: 14px;
   font-weight: bold;
}

