<div class = "tab-titles">
    <p class ="tab-links active-link" onclick="opentab('skills')">Skills</p>
    <p class = "tab-links" onclick="opentab('experience')">Experience</p>
    <p class = "tab-links" onclick="opentab('education')">Education</p>
</div>
<div class="tab-contents active-tab" id="skills">
    <ul>
        <li><span>Languages:</span><br>Java, C & C++, SQL, HTML , CSS, TypeScript, JavaScript</li>
        <li><span>Framework:</span><br>Spring, Angular, Hibernate, Spring Boot</li>
        <li><span>Database:</span><br>Oracle, MS SQL, PostgreSQL</li>
        <li><span>Operating Systems:</span><br>Windows (all versions) / Unix / Linux (MS Word, MS Power Point, MS Excel)</li>
        <li><span>GIT:</span><br>Github, Gitbash, Git Desktop</li>
        <li><span>Technologies:</span><br>Spring Boot, Spring MVC, Spring Security, Microservices, JDBC, RESTFul Web Services</li>
        <li><span>IDE & Tools:</span><br>Spring Tool Suite, Intellij Idea, Visual Studio, Postman, Navicat</li>
    </ul>
</div>
<div class="tab-contents" id="experience">
    <ul>
        <li><span>Backend Software Engineer</span><br>CDAC - Noida (Off Roll) | August 2021 - Present</li>
    </ul>
</div>
<div class="tab-contents" id="education">
    <ul>
        <li><span>JAMIA HAMDARD , NEW DELHI <br> B.TECH (CSE) </span><br>CLASS OF 2017 - 2021 <br> CGPA - 9.71</li>
        <li><span>JAMIA MILLIA ISLAMIA , NEW DELHI<br>  INTERMEDIATE WITH SCIENCE   </span><br>CLASS OF 2016  <br> PERCENTAGE: 89.4% </li>
        <li><span>JAMIA MILLIA ISLAMIA , NEW DELHI<br> MATRICULATION </span><br>CLASS OF 2014  <br> PERCENTAGE: 90% </li>
    </ul>
</div>




