<div class="heading">
  <h5> My Services </h5>
</div>

<div class="container">
    <div class="card">
      <div class="face face1">
        <div class="content">
          <span class="stars"></span>
          <h2 class="front">UI/UX Design</h2>
          <p class="front">Creating user-centered designs by understanding business requirements, and client feedback</p>
        </div>
      </div>
      <div class="face face2">
        <h2>01</h2>
      </div>
    </div>
  
    <div class="card">
      <div class="face face1">
        <div class="content">
          <span class="stars"></span>
          <h2 class="backend">Backend Design</h2>
          <p class="backend">Compile and analyze data, processes, and codes to troubleshoot problems and identify areas for improvement.</p>
        </div>
      </div>
      <div class="face face2">
        <h2>02</h2>
      </div>
    </div>
  
    <div class="card">
      <div class="face face1">
        <div class="content">
          <span class="stars"></span>
          <h2 class="api">REST APIs</h2>
          <p class="api">Implement common APIs based on architecture guidelines and frameworks</p>
        </div>
      </div>
      <div class="face face2">
        <h2>03</h2>
      </div>
    </div>

    <div class="card">
      <div class="face face1">
        <div class="content">
          <span class="stars"></span>
          <h2 class="database">Database Connection</h2>
          <p class="database">Implemented the database connectivity using JDBC with PostgreSQL database</p>
        </div>
      </div>
      <div class="face face2">
        <h2>04</h2>
      </div>
    </div>

  </div>